/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
	/* Переменные светлой темы */
	/* --btn-menu-color: #353430;
	--accent-color: #ff0070;
	--article__title: #353430;
	--title-color: #ffc2e6;
	--title-decor-bg-color: #ff8dcb;
	--bg-color: #fff1f7;
	--text-color: #353430;
		--header-text-color: #353430;
	--main-font: 'IBM Plex Mono', sans-serif;
	--sub-title-color: #353430;
	--decoration-elem-color: #353430; */
}

/* Остальные стили */

.page.theme_light {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--btn-menu-color: #353430;
	--accent-color: #ff8dcb;
	--article__title: #353430;
	--title-color: #ffc2e6;
	--title-decor-bg-color: #ff8dcb;
	--bg-color: #fff1f7;
	--text-color: #353430;
	--header-text-color: #353430;
	--main-font: 'IBM Plex Mono', sans-serif;
	--sub-title-color: #353430;
	--decoration-elem-color: #353430;

	background-image: url(/images/cover-image-light.png);
}

.page.theme_light .rec {
	display: none;
}
