/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	background-color: var(--bg-color, #000028);
	margin: 0 auto;
	color: var(--text-color, #000028);
	font-family: var(--main-font, 'IBM Plex Mono'), sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 130%;
	background-image: url(/images/cover-image-dark.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: left;
}

.decorated-zone {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.rec {
	position: absolute;
	top: calc(clamp(10px, 2.6vi, 20px) + 0.3em);
	right: 1.7em;
}

.rec::after {
	content: '';
	/* inline-size: 12px;
	block-size: 12px; */
	inline-size: 0.6em;
	block-size: 0.6em;
	border-radius: 100%;
	position: absolute;
	background-color: var(--accent-color, #ff0070);
	top: 0.1em;
	right: -1.3em;
}

.theme-menu-container {
	display: flex;
	align-items: center;
	justify-self: flex-end;
}

.flex-end {
	display: flex;
	align-items: center;
	justify-self: flex-end;
}

.header {
	display: grid;
	width: 100%;
	grid-template-columns: 100%;
	/* grid-template-rows: repeat(3, auto); */
	/* grid-template-rows: 1fr min-content 1fr; */
	grid-template-rows: 1fr auto 1fr;
	justify-items: center;
	height: 100vh;
	min-height: 667px;
	/* margin-block-end: 40px; */
	margin-block-end: clamp(40px, 11vi, 60px);
}

.header__title {
	color: var(--title-color, #db00ff);
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
	font-family: var(--main-font, 'IBM Plex Mono'), sans-serif;
	line-height: 82.5%;
	justify-self: flex-start;
	/* margin-bottom: 20px; */
}

.header::before,
.footer::before {
	content: '';
	inline-size: 25px;
	block-size: 25px;
	position: absolute;
	background: transparent;
	border-top: 1px solid var(--accent-color, #ff0070);
	border-right: 1px solid var(--accent-color, #ff0070);
	top: clamp(10px, 2.6vi, 20px);
	right: 0;
}

.header::after,
.footer::after {
	content: '';
	inline-size: 25px;
	block-size: 25px;
	position: absolute;
	background: transparent;
	border-bottom: 1px solid var(--accent-color, #ff0070);
	border-left: 1px solid var(--accent-color, #ff0070);
	bottom: clamp(10px, 2.6vi, 20px);
	left: 0;
}

.header__text {
	inline-size: clamp(355px, 47vw, 491px);
	block-size: min-content;
	margin-block-end: clamp(10px, 2vi, 20px);
}

.title-decor {
	background-color: var(--accent-color, #ff0070);
	font-weight: 700;
	text-wrap: pretty;
	text-align: left;
}

.header__theme-menu {
	padding-block-start: clamp(10px, 2vi, 15px);
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.rec,
.header__theme-menu-item {
	color: var(--accent-color, #ff0070);
	line-height: 100%;
}

.header__theme-menu-button {
	background: none;
	border: none;
	text-transform: lowercase;
	padding: 4px 13px;
}

.header__theme-menu-button:hover {
	/* сделать курсор */
}

.header__theme-menu-button:focus-visible {
	/* сделать курсор */
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
	border: 1px solid var(--accent-color, #ff0070);
	pointer-events: none;
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.content-container {
	margin-top: 0;
	margin-left: clamp(10px, 2.6vi, 20px);
	margin-right: clamp(10px, 2.6vi, 20px);
	display: flex;
	flex-direction: column;
	gap: clamp(50px, 20vi, 80px);
}

.article {
	display: grid;
	gap: 20px;
}

.article__title {
	color: var(--accent-color, #ff0070);
	font-weight: 700;
	/* margin-block-start: 50px; */
	font-size: 18px;
}

.article__content-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.article__content-list-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.article__content-list-item-title {
	/* !!!?????? */
	line-height: 23.4px;
	block-size: min-content;
}

.article__content-list-item-subtitle {
	font-weight: 400;
}

.content__third_heading {
	font-weight: 400;
}

.article__content-list-item-text {
	color: var(--content-text-color, #f1b2ce);
}

.content__images {
	max-width: 100%;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 667px;
}

.footer__title {
	color: var(--title-color, #db00ff);
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
	font-family: var(--main-font, 'IBM Plex Mono'), sans-serif;
	line-height: 82.5%;
	justify-self: flex-start;
}


.special-text{
	
}

@media (prefers-color-scheme: light) {
	/* !!!!!!!!!!!!!!!! */
}

@media (width >= 768px) {
	.header {
		/* gap: clamp(65px, 23vi, 173px); */
		/* min-height: 768px; */
	}

	.header__title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
		margin-inline-start: -20px;
	}

	.footer__title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.header__theme-menu {
		/* padding-block-start: clamp(75px, 25vi, 192px); */
	}
}

@media (width >= 1024px) {
	.theme-menu-container {
		justify-self: center;
	}

	.header {
		/* gap: clamp(65px, 15vi, 173px); */
		/* padding-bottom: clamp(66px, 14vw, 183px); */
	}

	.header__text {
		inline-size: clamp(355px, 50vw, 491px);
		/* margin-block-start: -60px; */
	}

	.header__theme-menu {
		padding-block-start: 20px;
		align-self: flex-start;
	}

	.header__theme-menu-list {
		flex-direction: row;
		gap: 10px;
	}

	.header__title {
		/* margin-block-start: 115px; */
	}
}

@media (orientation: landscape) {
}
